$bg-color: #131416;
$primary-color: #707479;

$form-field-bg-color: #202125;
$form-field-bg-color--hover: #24252a;
$form-field-bg-color--error: #252020;
$form-field-bg-color--error--hover: #2a2525;

$form-field-input-text-color: #f6f7fb;
$form-field-input-text-color--error: #704040;

$form-field-button-bg-color--hover: #2a2f33;
$form-field-button-menu-bg-color: $form-field-button-bg-color--hover;
$form-field-button-menu-bg-color--hover: #383f45;

$form-button-bg-color: #2b85ff;
$form-button-bg-color--hover: #0f73ff;

$form-element-width: 320px;
$form-element-height: 72px;

$radius-primary: 20px;
$icon-width: 20px;
$icon-height: 20px;
